/*created 22.05.2014 by linn.coffeein@gmail.com*/
html,
body {
    height: 100%;
}
html {
    position: relative;
}
body {
    font-family: 'Cuprum', sans-serif;
    background:#ffffff;
    font-size: 16px;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
        url('fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
@font-face {
    font-family: 'book_antiquaregular';
    src: url('fonts/book_antiqua_regular-webfont.eot');
    src: url('fonts/book_antiqua_regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/book_antiqua_regular-webfont.woff') format('woff'),
        url('fonts/book_antiqua_regular-webfont.ttf') format('truetype'),
        url('fonts/book_antiqua_regular-webfont.svg#book_antiquaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #cccccc;
}
.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -170px;
}
.wrap-main {
    padding-bottom: 10px;
}

#push,
#footer {
    height: 170px;
}
#footer {
    width: 100%;
    color: #fff;
    font-size: 14px;
    background: #232a32; 
}
.custom-container{
    max-width: 990px;
    margin: 0 auto;
    position: relative;
}
.logo{
    margin: 7px 0 0px 30px;
    display: inline-block;
    width: 120px;
    max-width: 120px;
    /*float: left;*/
}
.vnukovo-text,.vnukovo-text:hover,
.vnukovo-text:active,
.vnukovo-text:focus,
.vnukovo-text:visited{
    display: inline-block;
    text-decoration: none;
    margin: 18% 0 0 25px;
}
.custom-navbar{
    border:none;
    margin: 0;
    background: #ffffff;
    height: 150px;
}
.menu-blocks{
    color: #ffffff;
}


.menu-item,
.menu-item:hover,
.menu-item:focus,
.menu-item:active,
.menu-item:visited{
    color: #fff;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-size: 20px;
    font-family: 'Cuprum', sans-serif;
    padding: 0 23px 0 24px;
    width: 100%;
}
.footer-menu-blocks .menu-item,
.footer-menu-blocks .menu-item:hover,
.footer-menu-blocks .menu-item:focus,
.footer-menu-blocks .menu-item:active,
.footer-menu-blocks .menu-item:visited{
    padding: 0 16px 0 20px;
}


.top-menu-blocks .menu-item{
    background: #00468c;
}
.top-menu-blocks .active-menu-item,
.top-menu-blocks  .menu-item:hover{
    background: #6699ff;
}
.top-menu-blocks  .last-item{
    padding-right: 3px;
    background:  #00468c;
}
.top-menu-blocks  .last-item:hover {
    background: #6699ff;
}

.social-links{
    background: url(img/social.png) 0 0 no-repeat;
    display: inline-block;
    width: 45px;
    height: 45px;
}
.fbLink{
    background-position: -54px 0;
}
.twLink{
    background-position: -112px 0px;
}
.footer-logo{
    margin: 3px 0 0 30px;
    display: inline-block;
}
.footer-text-wrapper{
    margin: 17px 0 0 0;
}
.footer-row{
    color: #999999;
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 11px 0;
}
.blue-link,.blue-link:hover,
.blue-link:active,
.blue-link:visited,
.blue-link:focus{
    color: #4394b1;
    font-size: 16px;
    text-decoration: none;
}

.col-custom{
    width: auto;
}
.btn-red{
    color: #fff;
}



.menuBlocks{
    max-height: 148px;
}

.category-icon{
    background: url(img/category_icon.png) 0 0 no-repeat;
    background-size: cover;
    -moz-background-size: cover;   
    background-position: center;   
    background-size: 100% 100%;
    width: 48px;
    height: 48px;
    margin: 0 23px 0 0 ;
}

.divider{
    margin: 0 3px;
}

.header-text-wrapper{
    margin: 24px 27px 0 29px;
    float: right;
}
.header-phones, .header-phones:hover,
.header-phones:active,
.header-phones:focus,
.header-phones:visited{
    display: block;
    text-decoration: none;
}
.header-phones{
    margin-bottom: 5px;
}
.header-text{
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    color: #3366cc;
}
.planes{
    background: url(img/airplanes.png) 0 0 no-repeat;
    width: 35px;
    height: 20px;
}
.small-plane{
    width: 25px;
    height: 15px;
    margin: 90px 25px 0 0;
    background-position: -5px -25px;
}
.big-plane{
    margin: 28px 0 0 0;
}
.no-padding-right{
    padding-right: 0;
}
.no-padding-left{
    padding-left: 0;
}
.no-padding{
    padding-right: 0;
    padding-left: 0;
}

.social-links-wrapper{
    width: auto;
    margin: 36px 0 0 0;
}
.hotel-name, .hotel-name:hover,
.hotel-name:visited{
    color: #eaea40;
    font-size: 30px;
    text-decoration: none;
    display: block;
    font-family: 'Cuprum', sans-serif;
    line-height: 30px;
    text-shadow:none;
    margin: 21px auto 21px auto;
}
.carousel-text{
    color: #ffffff;
    font-size: 24px;
    line-height: 24px;
    text-shadow:none;
    margin: 0 auto;
}
.carousel-caption .carousel-text:first-child{
    max-width: 200px;
    margin: 0 auto;
}



.slider-photo-wrapper{
    width: 100%;
    max-height: 120px;
    overflow: hidden;
    margin: 10px 0;
}
.big-photo{
    display: inline-block;
    width: 100%;
    max-width: 100%;
}

.slider-photo-wrapper .small-photo{
    width: 208px;
    max-width: 208px;
    height: 120px;
    max-height: 120px;
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
}
.slider-photo-wrapper .small-photo:last-child{
    margin: 0;
}



.thumb-img{
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* Netscape */
    -moz-opacity: 0.5;

    /* Safari 1.x */
    -khtml-opacity: 0.5;

    /* Good browsers */
    opacity: 0.5;
}
.selected-thumb{
    /* IE 8 */
    -ms-filter: none;

    /* IE 5-7 */
    filter: none;

    /* Netscape */
    -moz-opacity: 1;

    /* Safari 1.x */
    -khtml-opacity: 1;

    /* Good browsers */
    opacity: 1;

}


.room-amount{
    background-position: -30px 0;
}
.parking{
    background-position: -60px 0;
}
.full-info{
    background-position: -90px 0;
}
.text-description{

}
.text-caption{
    background: url(img/caption.jpg) center bottom no-repeat;
    padding: 0 0 20px 0;
    width: 100%;
    height: 87px;
    color: #313b45;
    font-size: 48px;
    line-height:48px;
    text-align: center;
    text-shadow: 3px 1px 0px rgba(150, 150, 150, 0.5);
}

.icon-description{
    padding:0 30px 0 20px;
}
.text-description-wrapper{
    padding: 0 25px 0 0;
}
.hotel-description{
    padding: 30px 0;
}
.text-description{
    color: #333333;
    font-size: 14px;
    padding: 12px 30px 0 30px;
    text-align: justify;
}

.carousel-indicators li{
    width: 27px;
    height: 27px;
    border: 3px solid #ffffff;
    background: #00468c;
    border-radius: 50%;
    margin: 0 0 0 2px;
}
.carousel-indicators li:hover{
    background: #ffffff;
    border: 3px solid #ffffff;
}
.carousel-indicators .active{
    background: #ffffff;
    border: 3px solid #ffffff;
    width: 27px;
    height: 27px;
    margin: 0 0 0 2px;
    border-radius: 50%;
}
.carousel-indicators{
    width: auto;
    right: 18px;
    margin: 0;
    bottom: 18px;
}
.carousel-control, .carousel-control:hover{
    background: transparent;
    background-image: none!important;
    opacity: 1;
}
.carousel-control:hover, .carousel-control:focus{
    opacity: 1;
}
.carousel-control .icon-prev:before, 
.carousel-control .icon-next:before{
    content: '';
}

.carousel-control .icon-prev, .carousel-control .icon-next
{
    width: 40px;
    height: 40px;
    background: url(img/controls.png) 0 0 no-repeat;
    display: inline-block;
    top:55%;
    margin: 0;
}
.carousel-control .icon-prev{
    left: 25px
}

.carousel-control .icon-next{
    background-position:  -40px 0;
    right: 25px;
}
.carousel-caption{
    left: 100px;
    height: 285px;
    width: 285px;
    background: rgba(72,81,92, 0.85);
    top: 50%;
    padding: 60px 6px 0 6px;
    border-radius: 50%;
    margin: -140px 0 0 0;
    text-align: center;
}

/*main preview items*/

.preview-price,
.preview-price:hover,
.preview-price:active,
.preview-price:focus,
.preview-price:visited{
    font-size: 24px;
    line-height: 24px;
    padding: 5px 25px;
    border-radius: 4px;
    background: #00468c;
    color: #ffffff;
    width: auto;
    display: inline-block;
    margin: 10px auto 0;
    font-family: 'Franklin Gothic Demi Cond', arial;
    text-decoration: none;

}
.preview-wrapper{
    background: #f8f8f8;
    -moz-box-shadow:   inset 0  8px 8px -8px rgba(50, 50, 50, 0.14), 
        inset  -0  8px 8px -8px rgba(50, 50, 50, 0.14);
    -webkit-box-shadow: inset 0  8px 8px -8px rgba(50, 50, 50, 0.14), 
        inset 0  8px 8px -8px rgba(50, 50, 50, 0.14);
    box-shadow:        inset 0  8px 8px -8px rgba(50, 50, 50, 0.14), 
        inset 0  8px 8px -8px rgba(50, 50, 50, 0.14);
    padding: 30px 22px;

}
.col-main-preview{
    max-width: 300px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.preview-wrapper .preview-row .col-main-preview:first-child,
.preview-wrapper .preview-row .col-main-preview:last-child{
    margin: 0 0 0px 0;
}
.preview-wrapper .preview-row .col-main-preview:nth-child(2n){
    margin: 0 22px 0 22px;
}
.preview-wrapper .preview-row {
    padding-bottom: 35px !important;
}
.preview-wrapper .preview-row:last-child{
    padding-bottom: 0px !important;
}

.preview-caption,
.preview-caption:hover,
.preview-caption:focus,
.preview-caption:active,
.preview-caption:visited{
    background: #999999;
    color: #ffffff;
    border-radius: 4px;
    font-size: 18px;
    margin: 0 auto 30px auto;
    display: inline-block;
    width: auto;
    padding: 4px 30px;
    text-decoration: none;
}
.link-wrapper{
    -moz-box-shadow:   inset 0px 2px 3px 0px rgba(50, 50, 50, 0.14), 
        inset 0px -2px 3px 0px rgba(50, 50, 50, 0.14);
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(50, 50, 50, 0.14), 
        inset 0px -2px 3px 0px rgba(50, 50, 50, 0.14);
    box-shadow:        inset 0px 2px 3px 0px rgba(50, 50, 50, 0.14), 
        inset 0px -2px 3px 0px rgba(50, 50, 50, 0.14);
    background-color:#dbd9da; 
    padding: 10px;
    margin: 0 0 10px 0;
}
.link-preview-wrapper, .link-preview-wrapper:hover{
    display: block;
    text-decoration: none;
}

.custom-pagination{
    padding: 0;
    -webkit-padding-start: 0;
    list-style: none;
    margin: 10px auto 0 auto;
    width: 120px
}
.custom-pagination li{
    float: left;
    margin: 0 5px 0 0;
    width: 22px;
}
.custom-pagination li:last-child{
    margin: 0;
}
.preview-description{
    text-align: center;
    font-size: 21px;
    color: #313b45;
}

.news-title{
    color: #ffffff;
    font-size: 30px;
    margin:0px;
    height: 30px;
    line-height: 30px;
}
.action-title{
    margin: 0 0 35px 0;
}
.feedback-title{
    margin: 0 0 15px 0;
}
.news-subtitle,
.news-subtitle:hover,
.news-subtitle:focus,
.news-subtitle:active,
.news-subtitle:visited{
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    margin: 15px 0;
    text-decoration: none;
    display: inline-block;
}
.news-preview{
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    height: 56px;
    overflow: hidden;
}
.read-more, .read-more:hover,
.read-more:active,
.read-more:focus,.read-more:visited{
    display: block;
    text-decoration: none;
    color: #99ccff;
    font-size: 14px;
    line-height: 14px;
}

.all-news-link, .all-news-link:hover,
.all-news-link:active,
.all-news-link:focus,
.all-news-link:visited{
    font-size: 14px;
    color: #cccccc;
    text-decoration: none;
    display: block;
    margin: 10px 0 0 0;
}
.action-photo, .action-photo:hover{
    max-width: 62px;
    max-height: 62px;
    margin: 0 5px 0 0;
    display: inline-block;
    text-decoration: none;
}
.news-big-text{
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
}
.news-small-text{
    font-size: 16px;
    line-height: 16px;
    margin: 3px 0;
}
.col-action{
    padding: 0 20px 0 0;
}
.action-item{
    margin: 0 0 8px 0 ;
}

#map {
    width: 100%;
    height: 265px;
}
.dark{
    width: 100%;
    background: #313b45;
}
.padding-dark{
    padding-bottom: 10px;
}
.blue{
    background: #00468c;
    color:#ffffff;
    padding: 15px 25px 10px 25px;
}
.feedback-textarea{
    padding: 5px;
    height: 83px;
    max-height: 83px;
    resize: none; 
    width: 100%;
    color: #cccccc;
    font-size: 14px;
    line-height: 16px;
    border-radius: 4px;
}
.white-btn{
    border-radius: 4px;
    background: #ffffff;
    padding: 3px 25px;
    display: inline-block;
    width: auto;
    color: #00468c;
    font-size: 18px;
    border: none;
    outline: none;
}
.feedback-input{
    width: 72%;
    padding: 3px 5px;
    font-size: 14px;
    color: #cccccc;
}
.big-feedback-input{
    width: 50%;
    border-radius: 2px;
}
.feedback-btn{
    margin: 17px 0 0 0;
}
.up{
    display: block;
    width: 20px;
    height: 20px;
    background: url(img/up.png) 0 0 no-repeat;
    margin: 17px 30px 0 0;
}
.custom-label{
    font-weight: normal;
    color: #333333;
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 13px 0;
}
.big-feedback-wrapper{
    padding: 0;
}
h1{
    color: #000066;
    font-size:  24px;
    line-height: 24px;
}
.form-group{
    margin-bottom: 10px;
}
.blue-btn{
    font-size: 16px;
    line-height: 16px;
    padding: 13px;
    border-radius: 4px;
    background: #00468c;
    color: #ffffff;
    width: auto;
    display: inline-block;    
    border: none;
    outline: none;
}
.big-feedback-btn{
    margin: 10px 0;

}
.small-faq-caption-text{
    font-size: 16px;
    color: #666666;
    line-height: 24px;
}
.faq{
    list-style: none;
    padding: 0;
    -webkit-padding-start: 0;
}
.faq-item{
    display: block;
    margin: 0 0 20px 0;
}
.faq-dark-text{
    color: #000000;
    font-size: 16px;
}
.faq-light-text{
    color: #999999;
    font-size: 14px;
    line-height: 16px;
}
.faq-link,
.faq-link:active,
.faq-link:focus,
.faq-link:visited,
.faq-link:hover{
    color: #6699ff;
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline;
}
.big-feedback-textarea{
    height: 155px !important;
    max-height: 155px;
    resize: none; 
}

.booking-name-col{
    padding: 0 20px 0 0;
}

.dotted{
    border-right: 1px dotted #cdcdcd;
}
.booking-transfer-col{
    padding: 0;
}
.padding-15{
    padding: 0 15px;
}
.form-title{
    color: #333333;
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 6px 0;
}
.custom-form-group{
    margin: 0 0 5px 0;
}
.booking-label{
    margin: 0 0 5px 0;
    color: #00468c;
    font-size: 16px;
    line-height: 16px;
}
.booking-input{
    height: 26px;
    box-shadow:none;
}
.booking-select{
    padding: 1px 5px 0 5px;
}
.transfer-title{
    padding-left: 14px;
}
.transfer-subtitle{
    font-size: 18px;
    color:#00468c;
    line-height: 18px;
    margin-bottom: 9px;
}
.datepicker-wrapper{
    width: auto;
    position: relative;
}
.datepicker{
    padding-right: 20px;
    background: none;
}
.datepicker-icon{
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.transfer-text{
    font-size: 16px;
    line-height: 16px;
    color: #00468c;
    margin: 20px 0 0 15px;
}
.no-margin-bottom{
    margin-bottom: 0;
}
.custom-checkbox{
    margin-top: 5px;
    margin-bottom: 5px;
}
.booking-form-wrapper{
    border-bottom: 1px solid #6699ff;
    padding-bottom: 7px;
    margin-bottom: 17px;
}
.gray-text{
    color: #666666;
    font-size: 16px;
    line-height: 16px;
    margin: 15px 0 3px 0;
}
.booking-bottom-text p{
    color: #333333;
    font-size: 12px;
    font-family: Tahoma,Geneva,Kalimati,sans-serif;
    margin-bottom: 25px;
}
input.booking-input::-webkit-input-placeholder { font-size:16px; color: #999999; text-align: center; }
input.booking-input::-moz-placeholder { font-size:16px; color: #999999; text-align: center;}
input.booking-input:-ms-input-placeholder { font-size:16px; color: #999999; text-align: center;}


.rooms-text{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 13px;
    margin: 20px 0 0 0;
}
.service-price,
.service-price:hover,
.service-price:active,
.service-price:focus,
.service-price:visited{
    padding: 8px 25px;
}
.service-title{
    font-size: 24px;
    line-height: 24px;
    color: #000066;
    margin: 10px 0;
}
.price-wrapper{
    background: #f8f8f8;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    padding: 20px 4px;
}
.col-rooms-description{
    padding: 0 20px;
}
.service-row{
    font-size: 18px;
    height: 27px;
    line-height: 27px;
    color: #333333;
}
.service-dotted{
    border-bottom: 1px dotted #333333;
}
.slider-wrapper{
    -moz-box-shadow:   inset 0px 2px 3px 0px rgba(50, 50, 50, 0.14), 
        inset 0px -2px 3px 0px rgba(50, 50, 50, 0.14);
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(50, 50, 50, 0.14), 
        inset 0px -2px 3px 0px rgba(50, 50, 50, 0.14);
    box-shadow:        inset 0px 2px 3px 0px rgba(50, 50, 50, 0.14), 
        inset 0px -2px 3px 0px rgba(50, 50, 50, 0.14);
    background-color:#dbd9da; 
    padding: 10px;
}
.col-rooms-slider{
    padding: 0 20px 0 0;
}
.slider-thumbs{
    width: 100%;
    overflow: hidden;
    margin: 10px 0 0 0;
}
.custom-slider-thumb{
    list-style: none;
    width: 999999999999px;
    padding: 0;
    -webkit-padding-start: 0;
    position: relative;
}
.thumb-item{
    display: inline-block;
    float: left;
    width: 180px;
    max-width: 180px;
    margin: 0 4px 0 0;
}
.rooms-caption{
    color: #000066;
    font-size: 24px;
    line-height: 24px;
    margin: 20px 0;
}
.rooms-container{
    padding-bottom: 90px;
}
.caroufredsel_wrapper{
    margin: 0 !important;
}
@media only screen 
and (min-width : 240px)
and (max-width: 320px){
    .header-text-wrapper{
        margin-top: 5% !important;
    }
}


/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {


    .btn-booking{
        float: none;
        width: 100%;
    }
    .slider-photo-wrapper .small-photo{
        width: 56px;
        max-width: 56px;
    }

    .carousel-caption{
        left: 10px;
        height: 127px;
        width: 127px;
        padding: 30px 6px 0 6px;
        margin: -75px 0 0 0;
    }
    .hotel-name, .hotel-name:hover,
    .hotel-name:visited{
        margin: 6px auto;
        font-size: 12px;
        line-height: 12px;
    }
    .carousel-caption .carousel-text{
        font-size: 12px;
        line-height: 12px;

    }
    .carousel-caption .carousel-text:first-child{
        max-width: 100px;

    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {

    .carousel-caption{
        left: 10px;
        height: 127px;
        width: 127px;
        padding: 30px 6px 0 6px;
        margin: -75px 0 0 0;
    }
    .hotel-name, .hotel-name:hover,
    .hotel-name:visited{
        margin: 6px auto;
        font-size: 12px;
        line-height: 12px;
    }
    .carousel-caption .carousel-text{
        font-size: 12px;
        line-height: 12px;

    }
    .carousel-caption .carousel-text:first-child{
        max-width: 100px;

    }

}
@media only screen
and (min-width : 320px)
and (max-width : 480px)
and (orientation : lanscape) {
    .slider-photo-wrapper .small-photo{
        width: 88px;
        max-width: 88px;
    }

}
@media only screen
and (min-width : 320px)
and (max-width : 568px)
{

}


@media only screen
and (min-width : 320px)
and (max-width : 568px)
and (orientation : portrait) 
{

    .carousel-caption{
        left: 10px;
        height: 127px;
        width: 127px;
        padding: 30px 6px 0 6px;
        margin: -75px 0 0 0;
    }
    .hotel-name, .hotel-name:hover,
    .hotel-name:visited{
        margin: 6px auto;
        font-size: 12px;
        line-height: 12px;
    }
    .carousel-caption .carousel-text{
        font-size: 12px;
        line-height: 12px;

    }
    .carousel-caption .carousel-text:first-child{
        max-width: 100px;

    }
    .thumb-item{
        max-width: 72px;
        width: 72px;
    }

}
@media only screen
and (min-width : 320px)
and (max-width : 568px)
and (orientation : lanscape){

    .carousel-caption{
        left: 10px !important;
        height: 150px !important;
        width: 150px !important;
        padding: 30px 6px 0 6px !important;
        margin: -75px 0 0 0 !important;
    }
    .hotel-name, .hotel-name:hover,
    .hotel-name:visited{
        margin: 6px auto;
        font-size: 14px!important;
        line-height: 14px!important;
    }
    .carousel-caption .carousel-text{
        font-size: 14px!important;
        line-height: 14px!important;

    }
    .carousel-caption .carousel-text:first-child{
        max-width: 100px;
    }
    .thumb-item{
        max-width: 82px !important;
        width: 82px !important;
    }

}

@media only screen
and (min-width : 480px)
and (max-width : 640px)
and (orientation : lanscape){
    .thumb-item{
        max-width: 95px !important;
        width: 95px !important;
    }
}
@media (min-width: 600px) and (max-width: 800px) {
    .col-rooms-slider{
        padding: 0 20px;
    }
    .rooms-caption{
        padding-left: 20px;
    }
}
@media (min-width: 600px) and (max-width: 800px) 
and (orientation:portrait){
    .thumb-item{
        max-width: 120px !important;
        width: 120px !important;
    }
}
@media (min-width: 600px) and (max-width: 800px) 
and (orientation:landscape){
    .dotted-border{
        border-right: none !important;
    }
}

@media (max-width: 767px)  {

    .custom-navbar{
        height: auto;
    }
    .vnukovo-text, .vnukovo-text:hover, .vnukovo-text:active, .vnukovo-text:focus, .vnukovo-text:visited{
        margin: 25px 0 0 25px;
    }
    .col-custom-menu{
        width: 100%;
    }
    .dotted-border{
        border: none;
    }

    .header-text-wrapper {
        float: none;
        margin: 25px;
    }
    .container-small{
        padding: 0 25px;
    }
    .text-caption {
        height: 56px;
        font-size: 24px;
        line-height: 24px;
        margin: 20px auto 0;
    }
    .icon-description img {
        margin: 0 auto;
    }
    .text-description-wrapper{
        padding: 10px;
    }
    .icon-description {
        padding: 0 30px;
    }

    .social-links-wrapper{
        float: none;
        margin: 20px 0 0 0;
        text-align: left;
    }

    #footer, #push{
        height: 650px;
    }

    .wrap{
        margin: 0 auto -650px;
    }
    .up{
        float: right;
        margin: -32px 20px 0 0;
    }
    .footer-logo {
        margin: 5px 0 0 24px;
    }

    .footer-row {
        padding-left: 15px;
    }

    .container-carousel{
        padding: 0;
    }

    .carousel-control .icon-prev{
        left: 15px
    }

    .carousel-control .icon-next{
        right: 15px;
    }
    .col-main-preview{
        max-width: 300px;
        float: none;
        margin: 0;
    }

    .preview-wrapper .preview-row .col-main-preview:first-child,
    .preview-wrapper .preview-row .col-main-preview:last-child{
        margin: 0 0 25px 0;
    }
    .preview-wrapper .preview-row .col-main-preview:nth-child(2n){
        margin: 0 0 25px 0;
    }
    .preview-wrapper .preview-row {
        padding: 0 !important;
    }

    .carousel-caption{
        left: 10px ;
        height: 150px ;
        width: 150px ;
        padding: 30px 6px 0 6px ;
        margin: -75px 0 0 0 ;
    }
    .hotel-name, .hotel-name:hover,
    .hotel-name:visited{
        margin: 6px auto;
        font-size: 14px;
        line-height: 14px;
    }
    .carousel-caption .carousel-text{
        font-size: 14px;
        line-height: 14px;

    }
    .carousel-caption .carousel-text:first-child{
        max-width: 100px;
    }
    .news-big-text{
        color: #ffffff;
        font-size: 16px;
        line-height: 16px;
    }
    .news-small-text{
        font-size: 14px;
        line-height: 14px;
        margin: 3px 0;
    }
    .big-feedback-wrapper{
        padding: 0 20px;
    }
    .faq-wrapper{
        padding: 0 20px;
    }
    h1{
        margin-left: 20px;
    }
    .booking-name-col{
        padding: 0 10px;
    }
    .big-feedback-btn{
        margin: 10px;
    }
    .transfer-title, .gray-text{
        padding-left: 20px;
    }
    .form-title{
        margin-top: 10px;
    }

    transfer-title {
        margin: 20px 0 20px 7px;
    }

    .transfer-col{
        padding: 0 20px;
    }
    .booking-name-col, .booking-col, 
    .booking-bottom-text{
        padding: 0 20px;
    }
    .transfer-text,  .big-feedback-btn{
        margin-left: 20px;
    }
    .blue{
        padding: 15px 20px 10px 20px;
    }
    .top-menu-blocks  .last-item{
        padding-right: 0px;
    }

    .top-menu-blocks .last-item {
        padding: 0 10px;
        background: none;
    }
    .top-menu-blocks .last-item:hover {
        background: none;
    }
    .col-rooms-slider{
        padding: 0 20px;
    }
    .col-rooms-slider{
        padding: 0 20px;
    }
    .rooms-caption{
        padding-left: 20px;
    }

}


@media (min-width: 768px) and (max-width: 1024px) {
    .container-small-footer{
        padding: 0 30px;
    }
    .top-menu-blocks  .last-item{
        padding-right: 0px;
    }
    .faq-wrapper, .big-feedback-wrapper{
        padding: 0 20px;
    }
    h1{
        margin-left: 20px;
    }
    .col-custom-menu{
        padding: 0;
    }
    .booking-name-col{
        padding: 0 10px;
    }
    .big-feedback-btn{
        margin: 10px;
    }
    .gray-text{
        padding-left: 20px;
    }
    .form-title{
        margin-top: 10px;
    }

    transfer-title {
        margin: 20px 0 20px 7px;
    }

    .transfer-col{
        padding: 0 20px;
    }
    .booking-name-col, .booking-col, 
    .booking-bottom-text{
        padding: 0 20px;
    }
    .transfer-text,  .big-feedback-btn{
        margin-left: 20px;
    }
    .blue{
        padding: 15px 20px 10px 20px;
    }


}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) { /* STYLES GO HERE */ 

    .dotted-border{
        border: none;
    }
    .text-caption {
        margin: 20px auto 0;
    }
    .icon-description img {
        margin: 0 auto;
    }
    .text-description-wrapper{
        padding: 10px;
    }
    .icon-description {
        padding: 0 30px;
    }



    .container-carousel{
        padding: 0;
    }

    .carousel-control .icon-prev{
        left: 15px
    }

    .carousel-control .icon-next{
        right: 15px;
    }

    .col-main-preview{
        max-width: 220px;
    }

    .preview-wrapper .preview-row .col-main-preview:first-child,
    .preview-wrapper .preview-row .col-main-preview:last-child{
        margin: 0 0 0 0;
        float: left;
    }
    .preview-wrapper .preview-row .col-main-preview:nth-child(2n){
        margin: 0 20px 0 20px;
        float: left;
    }

    #footer, #push{
        height: 340px;
    }
    #footer{
        padding-bottom: 10px;
    }
    .wrap{
        margin: 0 auto -340px;
    }
    .up{
        float: right;
        margin: -32px 20px 0 0;
    }
    .col-rooms-slider{
        padding: 0 20px;
    }
    .rooms-caption{
        padding-left: 20px;
    }

}
@media (min-width: 768px) and (max-width: 1024px) 
and (orientation:landscape){
    .transfer-title{
        margin: 20px 0;
    }
    .dotted-border{
        border-right: 1px dotted #ffffff !important;
    }
    .slider-photo-wrapper .small-photo{
        width: 196px;
        max-width: 196px;
    }

    .col-main-preview{
        max-width: 300px;
    }
    .preview-wrapper .preview-row .col-main-preview:first-child,
    .preview-wrapper .preview-row .col-main-preview:last-child{
        margin: 0 0 0px 0;
        float: left;
    }
    .preview-wrapper .preview-row .col-main-preview:nth-child(2n){
        margin: 0 20px 0px 20px;
        float: left;
    }

    .booking-col{
        width: 50% !important;
        padding: 0 10px!important;
        border: none!important;
    }
    .booking-transfer-col{
        width: 100% !important;
    }
}


@media (min-width: 992px) {

    .col-custom-menu{
        padding: 0;
        width: auto;
    }
    .dotted-border{
        border-right: 1px dotted #ffffff;
    }
    .booking-col{
        padding: 0 20px 0 15px;
        width: 28%;
    }
    .booking-transfer-col{
        width: 47%;
    }

}
